doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    title 求是潮2014秋季纳新
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    .page#intro
      .positioner
        .logo
        a.item#link-hr(href="#hr") 人资
        a.item#link-photo(href="#photo") 摄影
        a.item#link-news(href="#news") 资讯
        a.item#link-video(href="#video") 视频
        a.item#link-outreach(href="#outreach") 推广
        a.item#link-tide(href="#tide") 水朝夕
        a.item#link-tech(href="#tech") 技术
        a.item#link-pm(href="#pm") 产品
