doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    title 求是潮2014秋季纳新
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no")
  body
    .page
      a.item(href="#hr") 人资
      a.item(href="#photo") 摄影
      a.item(href="#news") 资讯
      a.item(href="#video") 视频
      a.item(href="#outreach") 推广
      a.item(href="#tide") 水朝夕
      a.item(href="#tech") 技术
      a.item(href="#pm") 产品
