html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
}
.page:target {
  top: 0;
}
.page:target .circle .text-wrapper {
  top: 0;
}
.page:target .circle .text-wrapper:after {
  opacity: 1;
}
.page:target .circle .dep-logo {
  bottom: 0;
}
.page#intro .positioner {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  position: absolute;
}
.page#intro .positioner .logo {
  width: 5em;
  height: 5em;
  margin-top: -2.5em;
  margin-left: -2.5em;
  top: 50%;
  left: 50%;
  position: absolute;
  background-image: url("imgs/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.page#intro .positioner .item {
  width: 4em;
  height: 4em;
  display: block;
  border-radius: 2em;
  line-height: 4em;
  text-align: center;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  position: absolute;
  margin-top: -2em;
  margin-left: -2em;
}
.page#intro .positioner .item#link-hr {
  top: -35vmin;
  left: 0;
}
.page#intro .positioner .item#link-photo {
  top: -24.744999999999997vmin;
  left: 24.744999999999997vmin;
}
.page#intro .positioner .item#link-news {
  top: 0;
  left: 35vmin;
}
.page#intro .positioner .item#link-video {
  top: 24.744999999999997vmin;
  left: 24.744999999999997vmin;
}
.page#intro .positioner .item#link-outreach {
  top: 35vmin;
  left: 0;
}
.page#intro .positioner .item#link-tide {
  top: 24.744999999999997vmin;
  left: -24.744999999999997vmin;
}
.page#intro .positioner .item#link-tech {
  top: 0;
  left: -35vmin;
}
.page#intro .positioner .item#link-pm {
  top: -24.744999999999997vmin;
  left: -24.744999999999997vmin;
}
.page .circle {
  width: 200vh;
  height: 200vh;
  margin-top: -100vh;
  margin-left: -100vh;
  background-color: #fff;
  border-radius: 100vh;
  position: absolute;
  top: -20vh;
  left: 50%;
}
.page .circle .text-wrapper {
  position: fixed;
  width: 100%;
  height: 70vh;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: -70vh;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.page .circle .text-wrapper:after {
  opacity: 0;
  content: " ";
  display: block;
  position: fixed;
  height: 1em;
  width: 100%;
  bottom: 30%;
  left: 0;
  background: linear-gradient(-90deg, rgba(255,255,255,0), #fff);
  background: -ms-linear-gradient(-90deg, rgba(255,255,255,0), #fff);
  background: -moz-linear-gradient(-90deg, rgba(255,255,255,0), #fff);
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0), #fff);
}
.page .circle .text-wrapper p {
  text-indent: 2em;
}
.page .circle .text-wrapper h2 {
  margin-top: 0;
}
.page .circle .dep-logo {
  position: fixed;
  width: 100%;
  height: 20vh;
  bottom: -20vh;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.page#hr .dep-logo {
  background-image: url("imgs/hr.png");
}
.page#photo .dep-logo {
  background-image: url("imgs/photo.png");
}
.page#news .dep-logo {
  background-image: url("imgs/news.png");
}
.page#video .dep-logo {
  background-image: url("imgs/video.png");
}
.page#outreach .dep-logo {
  background-image: url("imgs/outreach.png");
}
.page#tide .dep-logo {
  background-image: url("imgs/tide.png");
}
.page#tech .dep-logo {
  background-image: url("imgs/tech.png");
}
.page#pm .dep-logo {
  background-image: url("imgs/pm.png");
}
#joinus .circle-big {
  width: 200vh;
  height: 200vh;
  border-radius: 100vh;
  bottom: -20vh;
  left: 50%;
  position: absolute;
  background-color: #fff;
}
