$logo-size = 5em
$item-radius = 35vmin
$item-size = 4em
$circle-size = 200vh

box-sizing()
  -webkit-box-sizing: arguments
  -moz-box-sizing: arguments
  box-sizing: arguments

gradient-bg(angle, from, to)
  background linear-gradient(angle, from, to)
  background -ms-linear-gradient(angle, from, to)
  background -moz-linear-gradient(angle, from, to)
  background -webkit-linear-gradient(angle, from, to)

html, body
  margin 0
  padding 0
  width 100%
  height 100%
  position relative
  overflow hidden

.page
  width 100%
  height 100%
  position absolute
  background-color #eee
  top -100%

  &:target .circle
    top 0
    .text-wrapper
      top 0
      &:after
        opacity 1
    .dep-logo
      bottom 0

  &#intro
    .positioner
      width 0
      height 0
      top 50%
      left 50%
      position absolute

      .logo
        width $logo-size
        height $logo-size
        margin-top - ($logo-size / 2)
        margin-left - ($logo-size / 2)
        top 50%
        left 50%
        position absolute
        background-image url(imgs/logo.png)
        background-size contain
        background-position center
        background-repeat no-repeat

      .item
        width $item-size
        height $item-size
        display block
        border-radius 2em
        line-height 4em
        text-align center
        background-color white
        color black
        text-decoration none
        position absolute
        margin-top - ($item-size / 2)
        margin-left - ($item-size / 2)

        &#link-hr
          top - $item-radius
          left 0

        &#link-photo
          top - 0.707 * $item-radius
          left 0.707 * $item-radius

        &#link-news
          top 0
          left $item-radius

        &#link-video
          top 0.707 * $item-radius
          left 0.707 * $item-radius

        &#link-outreach
          top $item-radius
          left 0

        &#link-tide
          top 0.707 * $item-radius
          left - 0.707 * $item-radius

        &#link-tech
          top 0
          left - $item-radius

        &#link-pm
          top - 0.707 * $item-radius
          left - 0.707 * $item-radius
  .circle
    width $circle-size
    height $circle-size
    margin-top - ($circle-size / 2)
    margin-left - ($circle-size / 2)
    background-color white
    border-radius ($circle-size / 2)
    position absolute
    top -20vh
    left 50%
    .text-wrapper
      position fixed
      width 100%
      height 70vh
      padding 1em
      box-sizing border-box
      top -70vh
      left 0
      overflow-y auto
      overflow-x hidden
      &:after
        opacity 0
        content " "
        display block
        position fixed
        height 1em
        width 100%
        bottom 30%
        left 0
        background linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
        background -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
        background -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
        background -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
    .dep-logo
      position fixed
      width 100%
      height 20vh
      bottom -20vh
      left 0
      background-size contain
      background-repeat no-repeat
      background-position center

  &#hr
    .dep-logo
      background-image url(imgs/hr.png)
